.star {
    margin-right: 7px;
    font-size: 22px;
    /* color: white ; */
}

#logo {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 720px) {
    #logo {
        width: 30px;
        height: 30px;
    }

    .table {
        width: 80vw;
        overflow: scroll;

    }

    .td-space {
        min-width: 120px !important;
    }

}

.td-space-lg {
    min-width: 170px !important;
}